{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cookie"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link rel="stylesheet" href="{% static 'assets/css/KD_Header-2.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/Bold-BS4-Footer-Big-Logo.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/Dark-NavBar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/header-1.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/header-2.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/KD_Header.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/Navigation-with-Button.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/SIdebar-Responsive-2-1.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/SIdebar-Responsive-2.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/KD_Header-1.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
  </head>

  <body>
    <div>
      <nav
        class="navbar navbar-light navbar-expand-md sticky-top flex-grow-1 justify-content-between navigation-clean-button"
        style="height:80px;background-color:#37434d;color:#ffffff;"
      >
        <div class="container">
          <a class="navbar-brand" href="#"
            ><i class="fa fa-globe"></i>Smart Tech</a
          ><button
            data-toggle="collapse"
            class="navbar-toggler"
            data-target="#navcol-1"
          >
            <span class="sr-only">Toggle navigation</span
            ><span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation">
                <a class="nav-link" style="color:#ffffff;" href="#"
                  ><i class="fa fa-home"></i>&nbsp;Home</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" style="color:#ffffff;" href="#"
                  ><i class="fa fa-shopping-cart"></i>&nbsp;Shopping</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" style="color:#ffffff;" href="#"
                  ><i class="fa fa-wpexplorer"></i>&nbsp;Magazine</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" style="color:#ffffff;" href="#"
                  ><i class="fa fa-taxi"></i>&nbsp;Take A Ride</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  style="color:#ffffff;"
                  href="{% url 'blog_home' %}"
                  ><i class="fa fa-star-o"></i>&nbsp;Blogs</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  style="color:#ffffff;"
                  href="{% url 'signup' %}"
                  ><i class="fa fa-user-circle-o"></i>&nbsp;Sign Up</a
                >
              </li>
              <li class="nav-item" role="presentation"></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="article-list">
      <div class="container">
        <div>
          <h2 class="text-center">Latest Articles</h2>
          <p class="text-center"></p>
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
    <footer id="myFooter">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-12 col-sm-6 col-md-3">
            <h1 class="logo" style="margin-top:30px;">
              <a href="#">&nbsp;LOGO&nbsp;</a>
            </h1>
          </div>
          <div class="col-12 col-sm-6 col-md-2">
            <h5>Get started</h5>
            <ul>
              <li><a href="#">Home</a></li>
              <li>
                <a href="#">Downloads<br /></a>
              </li>
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Other Links</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-2">
            <h5>Our Company</h5>
            <ul>
              <li><a href="#">About Us</a></li>
              <li>
                <a href="#">Company Information<br /></a>
              </li>
              <li><a href="#">Reviews</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-2">
            <h5>Support</h5>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li>
                <a href="#">Help Desk<br /></a>
              </li>
              <li><a href="#">Forums</a></li>
              <li><a href="#">External Links</a></li>
            </ul>
          </div>
          <div class="col-md-3 social-networks">
            <div></div>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a
            ><a class="twitter" href="#"><i class="fa fa-twitter"></i></a
            ><a class="google" href="#"><i class="fa fa-google-plus"></i></a
            ><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            <button
              class="btn btn-primary"
              style="margin-top:20px;"
              type="button"
            >
              Contact us
            </button>
          </div>
        </div>
        <div class="row footer-copyright">
          <div class="col">
            <p>
              © 2019 Copyright: SmartTech Designed By&nbsp;<a href="#"
                >Arnaud Tsombeng</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
    <div></div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
