{% extends "base.html" %} {% load static %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Blog</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Blog</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Category</th>
            <th>Articles</th>
            <th>Comments</th>
            <th>Last Comment</th>
          </tr>
        </thead>
        <tbody>
          {% for category in cat %}
          <tr>
            <td>
              <a href="{% url 'category_articles' category.pk %}">
                {{ category.name }}
              </a>
              <small class="text-muted d-block">
                {{ category.description }}
              </small>
            </td>
            <td class="align-middle">0</td>
            <td class="align-middle">0</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
{% endblock %}
